PowerBI/Extraction_Pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ExcelSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "Excel",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": {
                    "value": "@activity('LKP_Get_Metadata_Details').output.firstRow.Bronze",
                    "type": "Expression"
                  }
                },
                "sheetName": "Sheet1",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "Fabric_Lakehouse_Demo",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "b81b0b81-50f5-4cbc-9f94-7ceeb3872c32",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": {
                  "value": "@activity('LKP_Get_Metadata_Details').output.firstRow.DWHSchemaName",
                  "type": "Expression"
                },
                "table": {
                  "value": "@activity('LKP_Get_Metadata_Details').output.firstRow.DWHTableName",
                  "type": "Expression"
                }
              },
              "schema": [],
              "linkedService": {
                "name": "Fabric_Lakehouse_Demo",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "b81b0b81-50f5-4cbc-9f94-7ceeb3872c32",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SourceToBronze",
        "dependsOn": [
          {
            "activity": "LKP_Get_Metadata_Details",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "select * from Mastermetadata.Metadata where TableID = 6",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "Fabric_Warehouse_Demo",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "a887a335-44aa-42f2-ae08-e114d2aadb40",
                  "endpoint": "es6v3tikgn2eddqa3rkq6y4xnm-hxyavoeea54u7kepwjou6j7vie.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "b80af03d-0784-4f79-a88f-b25d4f27f541"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LKP_Get_Metadata_Details",
        "dependsOn": []
      }
    ]
  }
}